<body>
    <h2>Enter Contact's Details:</h2>
<form action='/saveContact' method='POST'>
    <table>
        <tr>
            <td>Name</td>
            <td><input name='cont_name' placeholder="Name: "></td>
    </tr>
    <tr>
        <td>Phone: </td>
        <td><input name='phone' placeholder="Phone: "></td>
    </tr>
    <tr>
        <td>Email: </td>
        <td><input name='email' placeholder="Email: "></td>
    </tr>
    
</table>
<br>
<input type='submit' value='GO'>
</form>
</body>