<body>
    <form action='/updateContact' method='POST'>
        <table>
            <tr>
                <td>
                    Enter the Name of Contact:
                </td>
                <td>
                    <input name='cont_name'/>
                </td>
            </tr>
            <tr>
                <td>
                    Enter the New number: 
                </td>
                <td>
                    <input name='phone'/>
                </td>
            </tr>
            <tr>
                <td>
                    Enter the New Email: 
                </td>
                <td>
                    <input name='email'/>
                </td>
            </tr>
        </table>
        <br>
        <input type='submit' value='Modify'/>
    </form>
</body>